<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- DB=databse FL=File -->
    <add key="InitCat" value="STRATIXData"/>
    <add key="LogHow" value="DB"/>
    <add key="LogPath" value="C:\ConsoleAppsToRun\Log.txt"/>
    <add key="TemplatePath" value="C:\ConsoleAppsToRun\Templates\"/>
    <add key="DestPath" value="C:\ConsoleAppsToRun\QDSReview\"/>
    <add key="FileName" value="QDSData.xls"/>
    <add key="FlatPath" value="C:\ConsoleAppsToRun\Flat.txt"/>
  </appSettings>
</configuration>